blockquote {
    margin: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: aquamarine;
}

p {
 color:gray;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
