@font-face {
  font-family: Thonburi;
  src: url('var(--fontName).ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Thonburi;
  src: url('var(--fontBoldName).ttf');
  font-style: bold;
  font-weight: bold;
}

* {
  /* off selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=time],
input[type=date],
textarea {
  /* on selection */
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
}

p,
p.a,
p.b,
span,
strong,
h1,
h2,
h3,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-family: Thonburi;
}

padding: 0px;

>*+* {
  margin-top: 0.75em;
}

h1 {
  font-family: 'The1 Official';
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: var(--fontColor);
  word-break: break-word;
  padding: 0 13px;
  width: 343px;
  height: 52px;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h2 {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: var(--fontColor);
  word-break: break-word;
  padding: 0 13px;
  width: 343px;
  height: 261px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h3 {
  font-family: Thonburi;
  color: var(--fontColor);
  word-break: break-word;
  padding: 0 13px;
}

h5 {
  font-family: Thonburi;
  color: var(--fontColor);
  word-break: break-word;
  padding: 0 13px;
}

.t1 h1 {
  font-size: 20px;
}

.t1 h2 {
  font-size: 14px;
}

.t1 h3 {
  font-size: 10px;
}

.t2 h1 {
  font-size: 22px;
}

.t2 h2 {
  font-size: 16px;
}

.t2 h3 {
  font-size: 12px;
}

.t3 h1 {
  font-size: 24px;
}

.t3 h2 {
  font-size: 18px;
}

.t3 h3 {
  font-size: 14px;
}

.t4 h1 {
  font-size: 26px;
}

.t4 h2 {
  font-size: 20px;
}

.t4 h3 {
  font-size: 16px;
}


.t5 h1 {
  font-size: 28px;
}

.t5 h2 {
  font-size: 22px;
}

.t5 h3 {
  font-size: 18px;
}

code {
  font-family: Thonburi;
  color: #616161;
  background-color: rgba(97, 97, 97, 0.1);
}

blockquote {
  font-family: Thonburi;
  background: var(--dominantColor);
  margin-left: 1rem;
  border-left: 2px solid #b2b2b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 16px;
  gap: 8px;
  width: 343px;
  height: 176px;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

blockquote > p:nth-child(1) {
  align-items: flex-start;
}

blockquote > p:nth-child(2) {
 align-items: center;
}

img {
  width: 343px;
  height: 343px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

iframe {
  width: 343px;
  height: 343px;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

a {
  font-family: Thonburi;
  color: #3ea6ff;
  word-break: break-word;
}

ul {
  font-family: Thonburi;
  color: var(--fontColor);
  margin-left: 2rem;
  font-size: 16px;
  list-style: disc;

  li {
    padding: 0;

    p {
      padding-left: 0 !important;
    }

    ul {
      margin-left: 1rem;
    }

    ol {
      margin-left: 1rem;
    }
  }
}

ol {
  font-family: Thonburi;
  color: var(--fontColor);
  margin-left: 2rem;
  font-size: 16px;
  list-style: number;

  li {
    p {
      padding-left: 0 !important;
    }

    ul {
      margin-left: 1rem;
    }

    ol {
      margin-left: 1rem;
    }
  }
}

p {
  font-family: Thonburi;
  color: var(--fontColor);
  word-break: break-word;
  padding: 0 13px;
  min-height: 24px;
}

figcaption {
  font-family: Thonburi;
  color: var(--fontColor);
  width: 100% !important;
  word-break: break-word;
  padding: 0 13px;
}

figure {
  img {
    width: 100% !important;
  }
}

img {
  display: inline;
  height: auto;
  max-width: 100%;
}

strong {
  font-family: Thonburi;
  color: var(--fontColor);
  font-weight: 700 !important;
}