* {
  /* off selection */

  -webkit-touch-callout: none;

  -webkit-user-select: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="time"],
input[type="date"],
textarea {
  /* on selection */

  -webkit-touch-callout: auto;

  -webkit-user-select: auto;
}

padding: 0px;

> * + * {
  margin-top: 0.75em;
}

h1 {
  font-family: the_one_official_Bold;

  font-style: normal;

  font-weight: 700;

  line-height: 130%;

  color: var(--fontColor);

  word-break: break-word;

  padding: 0 13px;

  text-align: center;

  flex: none;

  order: 0;

  flex-grow: 0;
}

h2 {
  font-family: BaiJamjuree-Regular;

  font-style: normal;

  font-weight: 400;

  line-height: 180%;

  color: var(--fontColor);

  word-break: break-word;

  padding: 0 13px;

  flex: none;

  order: 0;

  flex-grow: 0;
}

h3 {
  font-family: BaiJamjuree-Medium;

  color: var(--fontColor);

  word-break: break-word;

  padding: 0 13px;
}

.t1 h1 {
  font-size: 20px;
}

.t1 h2 {
  font-size: 14px;
}

.t1 h3 {
  font-size: 10px;
}

.t2 h1 {
  font-size: 22px;
}

.t2 h2 {
  font-size: 16px;
}

.t2 h3 {
  font-size: 12px;
}

.t3 h1 {
  font-size: 24px;
}

.t3 h2 {
  font-size: 18px;
}

.t3 h3 {
  font-size: 14px;
}

.t4 h1 {
  font-size: 26px;
}

.t4 h2 {
  font-size: 20px;
}

.t4 h3 {
  font-size: 16px;
}

.t5 h1 {
  font-size: 28px;
}

.t5 h2 {
  font-size: 22px;
}

.t5 h3 {
  font-size: 18px;
}

.t1 blockquote {
  font-size: 18px;
}

.t2 blockquote {
  font-size: 20px;
}

.t3 blockquote {
  font-size: 22px;
}

.t4 blockquote {
  font-size: 24px;
}

.t5 blockquote {
  font-size: 26px;
}

.t1 p,
p.a,
p.b,
span,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-size: 14px;
}

.t2 p,
p.a,
p.b,
span,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-size: 16px;
}

.t3 p,
p.a,
p.b,
span,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-size: 18px;
}

.t4 p,
p.a,
p.b,
span,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-size: 20px;
}

.t5 p,
p.a,
p.b,
span,
u,
um,
div,
ul,
li,
b,
b.a,
a:link,
a:visited {
  font-size: 22px;
}

code {
  font-family: Bai Jamjuree;

  color: #616161;

  background-color: rgba(97, 97, 97, 0.1);
}

blockquote {
  font-family: the_one_official_Regular;

  background: var(--dominantColor);

  margin: auto;

  border-left: 2px solid #b2b2b2;

  display: flex;

  flex-direction: column;

  align-items: center;

  padding: 34px 16px;

  gap: 8px;

  border: 1px solid var(--quoteBorderColor);

  border-radius: 4px;

  flex: none;

  order: 0;

  flex-grow: 0;
}

img {
  background: #dddddd;

  border-radius: 4px;

  margin: auto;

  flex: none;

  order: 0;

  flex-grow: 0;

  display: inline;

  height: auto;

  max-width: 100%;
}

iframe {
  border-radius: 4px;

  flex: none;

  order: 0;

  flex-grow: 0;
}

a {
  color: #3ea6ff;

  word-break: break-word;
}

ul {
  font-family: Bai Jamjuree;

  color: var(--fontColor);

  margin-left: 2rem;

  list-style: disc;

  li {
    padding: 0;

    p {
      padding-left: 0 !important;
    }

    ul {
      margin-left: 1rem;
    }

    ol {
      margin-left: 1rem;
    }
  }
}

ol {
  font-family: Bai Jamjuree;

  color: var(--fontColor);

  margin-left: 2rem;

  list-style: number;

  li {
    p {
      padding-left: 0 !important;
    }

    ul {
      margin-left: 1rem;
    }

    ol {
      margin-left: 1rem;
    }
  }
}

figure {
  img {
    width: 100% !important;
  }
}

strong {
  color: var(--fontColor);

  font-weight: 700 !important;
}

p {
  color: var(--fontColor);
}